.card{
    width: 23rem;
    height: 12rem;
    background: rgb(146,162,241);
    background: linear-gradient(122deg, rgba(146,162,241,1) 0%, rgba(31,46,190,1) 100%);
    border-radius: 10px;
    margin: 10px;
    display: flex;
    justify-content: space-around;
}

.logo{
    width:7rem;
    height: 4rem;
    padding: 1rem;
    background-color: #fff;
    border-radius: 10px;
}

.card_detail{
    color: #515257;
    background-color: #fff;
    align-self: center;
    padding: 1rem;
    border-radius: 10px;
    width: 13rem;
    font-weight: 600;
}

@media (max-width:991.98px) and (min-width:768px) {
    .card{
        width: 20rem;
    }
    .logo{
        width:6rem;
        height: 3.5rem;
    }
    .card_detail{
        width: 12rem;
    }
}

@media (max-width:425px) and (min-width:320px) {
    .card{
        width: 19rem;
    }
    .card_detail{
        width: 9.15rem;
        font-size: 11px;
    }
}