html {
	scroll-behavior: smooth;
  }
.menuactive{
    border-bottom: 4px solid #fff;
}
::-webkit-scrollbar {
	width: 5px;
}
::-webkit-scrollbar-track {
	box-shadow: inset 0 0 5px grey; 
	border-radius: 10px;
}
   
::-webkit-scrollbar-thumb {
	background: rgb(148, 112, 143); 
	border-radius: 10px;
}
 
a:hover{
	text-decoration: underline;
	color: initial;
}

.ml-13{
	margin-left: 13rem;
}

@media (min-width: 1400px) {
	.container{
		max-width: 1140px !important;
	}	
}